<br />
<div class="cine-box col-10 offset-1">
  <%= simple_form_for @lesson, url: instructor_section_lessons_path(@section) do |f| %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <br />
    <%= f.submit "Add the lesson", class: 'btn btn-primary btn-lg' %>
    <br />
    <br />
  <% end %>
</div>