@import "bootstrap";

.navbar {
  font-family: 'josefin_sansregular', sans-serif;
  font-size: 20px;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('gravel.png');
}

.navbar-brand {
  font-family: 'josefin_sansbold', sans-serif;
  font-size: 28px;
}